/*  your css code here. If applicable */
body {
        background-color: #151515;
	margin:0;
	padding:0:
      }
      #animal-photos {
        left: 70px;
        padding: 30px;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-self: center;
        row-gap: 10px;
        column-gap: 10px;
      }
      .container {
        position: relative;
        left: 130px;
        background-color: #444444;
        height: 835px;
        width: 1101px;
        text-align: center;
      }
      h1 {
        position: relative;
        /* left: 200px; */
        display: inline-block;
        text-align: center;
        color: white;
      }
      img {
        border-radius: 10px;
      }